<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.html'); -%>
</head>
<body> <%- include('partials/navigation.html'); -%>
    <div class="conteiner text-center p-0">
        <img src="./img/front_aboutus.png" alt="">
       <center> 
        <div class="conteiner p-2">
            <div class="card border-primary mb-1" style="max-width: 70rem;">
                <div class="card-header text-left bg-success text-white">Misión</div>
                <div class="card-body bg-ligth text-dark">
                    <h5 class="card-title text-left">Nuestra Misión</h5>
                    <p class="card-text text-left">Innovar el mercado de prestación de todo tipo de servicios técnicos,
                        escensiales, rudimentarios y profesionales dentro del territorio nacional.
                    </p>
                </div>
            </div>
            
        </div>
        <div class="conteiner">
            <div class="card border-primary mb-1" style="max-width: 70rem;">
                <div class="card-header text-left bg-danger text-white">Visión</div>
                <div class="card-body bg-ligth text-dark">
                    <h5 class="card-title text-left">Nuestra Visión</h5>
                    <p class="card-text text-left">Llevar a cada hogar, cada empresa, cada organicación la prestación, de
                    servicios de calidad, compliendo con todos los estandares de seguridad y profesionalismo que cada tarea requiere. </p>
                </div>
            </div>
            
        </div>
    
    </center>
   </div>
 
</body>
<%- include('partials/footer.html'); -%>
</html>