<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.html'); -%>
    
</head>
<body><%- include('partials/navigation.html'); -%>
<!--SECCION DE CONSTRUCCION-->
<div class="conteiner p-5 offset-md-2">
    <div class="card border-success mb-2 mt-2" style="max-width: 50rem;">
        <div class="card-header bg-success text-white text-left" id="constru"><i class="fas fa-pencil-ruler"></i> Construcción y
            Remodelación.
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-hammer"></i> Albañilería.</h6>
                    <div class="card-text">Ofrecemos servicios de levantamieto de muros perimetrales y paredes con
                        ladrillos, tabelones o bloques, vaciado de pisos y
                        placas,
                        frizos, estuco, elaboración de cerchas para vigas riostras y vigas coronas, vaciado de vigas riostras
                        y vigas coronas.
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/alba.png" class="borderimg" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 text-center">
                    <img src="./img/fin.png" class="borderimg"  alt="">
                </div>
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-paint-roller"></i> Acabados.</h6>
                    <div class="card-text">Realizamos aplicación de pasta profesional, marmoleados, grafiados de su
                        preferencia, (estandar, chino, etc.)
                        instalación de pisos de cerámicas, porcelanatos, azulejos y mosaicos, realizamos trabajos de
                        instalación de drywall y yeso con
                        diseños decorativos, pintura profesional.
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-screwdriver"></i> Electricdad.</h6>
                    <div class="card-text">Instalación de tableros electricos, configuración de voltages 110W y 220W, 
                        aplicación de sistema de aterramiento, instalación de protectores de voltage, instalación y cableado de 
                        puntos de electricidad 110W - 220W, detección de fallas en la red electrica e instalacón de tomas electricas.    
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/ele.png" class="border-dark"  alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 text-center">
                    <img src="./img/plo.png" class="borderimg"  alt="">
                </div>
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-shower"></i> Plomería.</h6>
                    <div class="card-text">Detapamos cañerias bloqueadas, realizamos instalación de red de aguas blancas, instalación de 
                        red de aguas negras, tanques aereos y subterraneos, bombas superficiales, hidro neumaticos digitales y analogos,
                        bajastes, griferias y herrages. duchas, sanitaros, lavamanos y bateas.  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECCION DE SERVICIOS TECNICOS-->
    <div class="card border-dark mb-2 mt-2" style="max-width: 50rem;">
        <div class="card-header bg-dark text-white text-left" id="tec"><i class="fas fa-pencil-ruler"></i> Servicio Técnico.
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-laptop"></i> Reparación de computadoras.</h6>
                    <div class="card-text">Realizamos reparación y mantenimiento de todo tipo de computadoras y laptops,
                        formateo en instalación de sistema Windows, instalación de paquete office, programas y herramientas
                        requeridas por el usuario, eliminación de virus y malware, restauración y respaldo de información personal.
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/infor.png" class="borderimg" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 text-center">
                    <img src="./img/aire.png" class="borderimg"  alt="">
                </div>
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-snowflake"></i> Refrigeración.</h6>
                    <div class="card-text">Revisión, mantenimiento, detección de fugas y fallas de equipos de refrigeración
                        <b>Resideciales e industriales</b>, Aires acondicionados de ventana y de consolas, neveras corrientes y ejecutivas, 
                        todo tipo de freezers horizontales o verticales, recarga de gas, limpieza sistema de enfriamiento y reemplazo de filtros, capacitadores y resistencias. 
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-wrench"></i> Mecanica en General.</h6>
                    <div class="card-text">Reparación y mantenimiento de todo lo relacionado con tren delantero de cualquier tipo de vehiculo,
                        revición, reaparación y entonación de motor, cambio de aceite y filtro. asistencia técnica en general.
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/mec.png" class="borderimg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--SECCION DE SERVICIOS INFORMATICOS-->
    <div class="card border-warning mb-2 mt-2" style="max-width: 50rem;">
        <div class="card-header bg-warning text-dark text-left" id="infor"><i class="fas fa-globe"></i> Servicios Infomáticos.
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-wifi"></i> Redes LAN, WAN, Wi-fi e Internet.</h6>
                    <div class="card-text">Instalación y configuración de todo tipo de redes, adaptadas a los requerimientos
                        de su negocio o residecina, detección de fallas, confguración de equipos de networking, routers,
                        switch.
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/red.png" class="borderimg" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 text-center">
                    <img src="./img/dw.png" class="borderimg"  alt="">
                </div>
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-keyboard"></i> Diseño Web y Aplicaciones.</h6>
                    <div class="card-text">Diseñamos el sitio web para su negoción, con caracteristicas varguardistas, que permitan darle a su 
                        negoción mayor proyección y presencia en la red. creamos su tienda virtual y pagina de contactos para que capture y mejore
                        sus cartera de clientes, tambien desarrollamos aplicaciones cliente servidor adaptadas a las necesidades de su negocio. 
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-video"></i> Video vigilancia (CCTV).</h6>
                    <div class="card-text">Realizamos la nstalación y configuración de camaras de video vigilancia, para darle 
                        mas seguridad a su residencia o negocio. configuramos equipos de respaldo y grabación.
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/cctv.png" class="borderimg" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 text-center">
                    <img src="./img/cabe.png" class="borderimg"  alt="">
                </div>
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-broadcast-tower"></i> Cableado estructurado.</h6>
                    <div class="card-text">Realizamos cableado estructurado en instalación de puntos de red de voz y datos,
                        instalación de patch-panels, configuración e instalación de centrales telefonicas. 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECCION DE PUBLICIDAD Y DISEÑO-->
    <div class="card border-info mb-2 mt-2" style="max-width: 50rem;">
        <div class="card-header bg-info text-white text-left" id="publi"><i class="fas fa-pencil-ruler"></i> Publicidad y Diseño.
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-rss-square"></i> Redes Sociales y Marketing Digital.</h6>
                    <div class="card-text">Creamos las redes sociales de su preferencia, Twitter, Instagram, Facebook, LinkeDin,
                        Youtube y mas, te apoyamos en la publicación y Marketing digital para tu negocio.
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/rss.png" class="borderimg" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5 text-center">
                    <img src="./img/publi.png" class="borderimg"  alt="">
                </div>
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-ad"></i> Publicidad.</h6>
                    <div class="card-text">Te apoyamos en el diseño y creación de logos empresariales, flyers y posters promocionales, y 
                        mucho mas, creamos videos animados promocionales para tu empresa o negocio.
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-7">
                    <h6 class="card-title"><i class="fas fa-pen"></i> Diseño Arquitectonico y Mapeo Digital.</h6>
                    <div class="card-text">Diseñamos y elaboramos tu planos de remodelacion acordes a tus requerimientos, diseñamos interiores,
                        exteriores y cocinas. Realizamos toma de coordenas para ficas y establecimientos. Realizamos mapeo y geolocalizaión,
                        con herramientas como Argis, Autocad, Google-map y Google Sketchup.

                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="./img/mec.png" class="borderimg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--SECCION DEL FOOTER-->
</body><%- include('partials/footer.html'); -%>
</html>