<!-- FINAL SECTION-->
<div class="container-fluid p-4 bg-info" id="about">
    <div class="row bg-info text-white p-4 text-center">
        <div class="col-sm-4"><img src="./img/logomst.png">
        </div>
        <div class="col-sm-4">  
            <i class="fab fa-whatsapp fa-4x" title="Whatsapp"> </i>
            <i class="fab fa-twitter fa-4x" title="Twitter"> </i>
            <i class="fab fa-facebook fa-4x" title="Facebook"> </i>
            <i class="fab fa-instagram fa-4x" title="Instagram"> </i><br>
            <h4>NUESTRAS REDES SOCIALES</h4>
        </div>
        <div class="col-sm-3">
            <h3>MARCO LEGAL</h3>
            <ul class="navbar-nav"><a class="nav-link text-white" href="/aviso"><li class="ml-5 text-left">Politica de privacidad.</li></a>
                <a class="nav-link text-white" href="/#"><li class="ml-5 text-left">Politica de Cookies.</li></a>
            </ul>
        </div>
    </div>
</div>
<footer class="bg-info text-center p-2">
    <p class="title text-light">Copyright &copy; 2020 Madoo Servicios Técnicos. RIF:J-412-905449 Todos los derechos reservados.
    <br>Urbanización Las Garzas. Maturin, Monagas - Venezuela.</p>
</footer>

<!--BOOTSTRAP JS SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
