body{ 
      background: #C9D6FF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
.delay-1 {
  animation-delay: .1s;
  }
.delay-2 {
  animation-delay: .3s;
  }
.delay-3 {
  animation-delay: .5s;
  }
.delay-4 {
  animation-delay: .7s;
  }
.shadow{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 96;
    text-shadow:1px 2px #000;
}